.cart {
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 300px;
    padding: 15px;
    border: 1px solid #ddd;
    border-bottom: #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */

    z-index: 1000;
    display: none; /* Verberg standaard */
}

.cart.hidden {
    display: none; /* Blijft verborgen */
}

.cart:not(.hidden) {
    display: block; /* Toon wanneer hidden wordt verwijderd */
}

.progress-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
}

#toggle-cart {
    margin-left: 8px;
    cursor: pointer;
    user-select: none;
}

.cart ul {
    list-style: none; /* Verwijder standaard opsommingstekens */
    padding: 0;
    margin: 0;
}

.cart li {
    display: flex; /* Gebruik flexbox */
    justify-content: space-between; /* Zorg dat naam en prijs aan weerszijden staan */
    align-items: center; /* Horizontale uitlijning */
    padding: 5px 0; /* Voeg wat verticale ruimte toe tussen items */
    border-bottom: 1px solid #ddd; /* Optioneel: lijn onder elk item */
}

.cart li span:first-child {
    flex: 1; /* Laat de naam meer ruimte innemen */
    text-align: left; /* Zorg dat de namen links uitgelijnd zijn */
}

.cart li span:last-child {
    text-align: right; /* Zorg dat de prijzen rechts uitgelijnd zijn */
    min-width: 70px; /* Zorg voor een consistente breedte, zodat prijzen mooi uitlijnen */
}
